.motivationblock__title, .storesblock__title {
  font-weight: 400;
  margin-bottom: 5px; }

.text {
  color: #848484;
  line-height: 1.4em;
  font-weight: 200; }

.text_store {
  color: #000; }

.wrap {
  width: 1000px;
  margin: auto; }

.wrap_center {
  text-align: center;
  padding: 60px 0; }

.wrap_top {
  padding: 80px 0 0 60px; }

.icon {
  background-color: #fe9500;
  display: inline-block;
  border-radius: 50%;
  color: white;
  text-align: center; }

.icon_size-small {
  width: 55px;
  height: 45px;
  padding-top: 10px;
  margin-right: 15px; }
  .icon_size-small:hover {
    background-color: rgba(254, 149, 0, 0.8);
    color: rgba(255, 255, 255, 0.8); }

.icon_size-big {
  width: 100px;
  height: 80px;
  padding-top: 20px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif; }

li {
  list-style: none; }

.topblock {
  background: url(../images/topblock-background.jpg) no-repeat;
  background-size: cover; }

.topblock:before {
  position: relative;
  content: '';
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 587px;
  top: 0; }

.column {
  display: inline-block;
  vertical-align: top;
  width: 550px; }

.logo {
  margin-bottom: 20px; }
  .logo img {
    margin-top: 15px;
    display: block; }

.slogan-top {
  width: 450px;
  display: block;
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin: 40px 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3); }

.handhtc {
  display: inline-block;
  margin-bottom: -3px; }

.motivationblock__section {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  text-align: center; }

.storesblock {
  background: url(../images/food.png); }

.storesblock__content {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px; }

.store {
  width: 25%;
  height: 400px;
  display: inline-block;
  vertical-align: top;
  text-align: center; }

.storesblock__title {
  font-size: 35px;
  font-weight: 600; }

.reviewblock__name {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 30px 0; }

.footerblock {
  background: rgba(0, 0, 0, 0.8); }

.footerblock__links {
  text-align: center;
  margin: 30px auto; }

.footerblock__link {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 5px; }
  .footerblock__link:hover {
    color: rgba(254, 149, 0, 0.9);
    border-bottom: 1px solid rgba(254, 149, 0, 0.5); }

.footerblock__icons {
  text-align: center; }

.social-wrap {
  width: 710px;
  margin: 50px auto; }
